<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뷰 기초 익히기</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div id="app">
        <!-- v-for를 사용할 때에는 :key항목에 '고유한' key값을 넣어줘야 한다 -->
        <div v-for="(person, index) in people" :key="person.id"> 
            {{ person.id }} {{ person.name }} {{ person.age }}
        </div>

        <hr>
        <!-- 고유한 키값이 없을 경우 만들어서 사용 가능 -->
        <div v-for="(person, index) in people" :key="person.name + '-' + person.age"> 
            {{ person.id }} {{ person.name }} {{ person.age }}
        </div>

        <hr>
        <!-- 객체 사용도 가능 -->
        <li v-for="value in object" :key="title"> 
            {{ value}}
        </li>

    </div>


    <script>
        new Vue({
            el: '#app',

            data: {
                people: [
                    { id:1 , name: 'a', age: 20 },
                    { id:2 , name: 'b', age: 21 },
                    { id:3 , name: 'b', age: 22 },
                    { id:4 , name: 'd', age: 23 }
                ],

                object: {
                    title: 'how',
                    author: 'Jane',
                    publishedAt: '2023'
                }
            },

            methods: {
            
            }
        })
    </script>
</body>
</html>